<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhonghao.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".app.MyAppliction"
        android:allowBackup="true"
        android:icon="@drawable/logoend"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".home.activity.GoodsInfoActivity"></activity>
        <activity android:name=".shoppingcart.activity.ShoppingCartActivity"/>
        <activity android:name=".home.activity.SecondHomeActivity"/>
        <activity android:name=".home.activity.WareDetailActivity"/>
    </application>

</manifest>